        <style>
            /* Style the search box */
            #mySearch {
            width: 100%;
            font-size: 18px;
            padding: 11px;
            border: 1px solid #ddd;
            }
            /* Style the navigation menu */
            #myMenu {
            list-style-type: none;
            padding: 0;
            margin: 0;
            }
            /* Style the navigation links */
            #myMenu li a {
            padding: 12px;
            text-decoration: none;
            color: black;
            display: block
            }
            #myMenu li a:hover {
            background-color: #eee;
            }
                        * {
            box-sizing: border-box;
            }
            #myInput {
            background-image: url('/css/searchicon.png');
            background-position: 10px 12px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
            }
            #myUL {
            background-color: rgb(114, 114, 114);
            list-style-type: none;
            padding: 0;
            margin: 0;
            }
            #myUL li a {
            border: 1px solid #ddd;
            margin-top: -1px; /* Prevent double borders */
            background-color: rgb(143, 143, 143);
            padding: 12px;
            text-decoration: none;
            font-size: 18px;
            color: black;
            display: block
            }
            #myUL li a:hover:not(.header) {
                background-color: rgb(83, 83, 83);
                color: white;
            }
            body{
                background-color: rgb(177,177,177);
            }            
        </style>
